.header {
    position: relative;
    min-height: 165px;
    border-radius: 19px;
}

.star-icon {
    width: 10px;
    height: 10px;
}

.cart-icon {
    width: 20px;
    height: 20px;
}

.card {
    background: var(--white-color);
    box-shadow: 18px 18px 36px rgba(211, 209, 216, 0.25);
    width: 320px;
    border-radius: 19px;
}

.card-wrapper {
    text-decoration: none;
}

.footer {
    padding: 12px;
}

.title {
    color: var(--text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.description {
    color: var(--text-secondary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.price {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: var(--white-color);
    padding: 3px 10px;
    border-radius: 17px;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: var(--text-color);
    box-shadow: 2px 6px 36px rgb(150 150 150 / 0.40);
}

.currency {
    color: var(--primary-color);
}

.rating {
    position: absolute;
    bottom: -8px;
    left: 15px;
    background-color: var(--white-color);
    padding: 3px 10px;
    border-radius: 17px;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: var(--text-color);
    box-shadow: 2px 6px 36px rgb(150 150 150 / 0.40);
}

.add-to-cart {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 34px;
    height: 34px;
    border: none;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: var(--primary-hover-color);
}