.header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
}

.image {
    width: 20%;
    height: 20%;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 2px 6px 36px rgba(255, 140, 0, 0.4);
}

.price {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--separator-color);
    padding-bottom: 10px;
}

.currency {
    color: var(--primary-text);
}

.rating {
    padding: 3px 10px;
    border-radius: 17px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
    box-shadow: 2px 6px 36px rgb(150 150 150 / 0.40);
    width: 40px;
    margin-bottom: 20px;
}

.itemName {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
}

.star-icon {
    width: 20px;
    height: 20px;
}

.description {
    margin-top: 20px;
    font-size: 1rem;
    color: var(--text-secondary-color)
}

.descriptionName {
    font-weight: 600;
    font-size: 18px;
}

.ingredients-list {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 16px;
}

.container {
    display: flex;
    gap: 50px;
}